@import "../../../constants/variables.module";

.app-bar {
    top: 0;
    left: auto;
    right: 0;
    font: {
        family: "Roboto", sans-serif;
        size: 20px;
        weight: 400;
    }
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    background: $app_bar-background-color;
    color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__date-control {
        padding: 5px 15px;
    }

    &__current-student {
        margin-left: auto;
        margin-bottom: auto;
    }
}
