@import "../../../../constants/variables.module";

.contract-table {
  border: {
    spacing: 0;
  }
  text-align: center;

  &__id {
    width: 23%;
  }
  &__status {
    width: 5%;
  }
  &__hours-per-day {
    width: 12%;
  }
  &__start-time {
    width: 12%;
  }
  &__finish-time {
    width: 12%;
  }
  &__mentor {
    width: 15%;
  }
  &__task {
    width: 15%;
  }

  &__head-cell {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
}