@import "../../../../constants/variables.module";

.contract-table {
  border: {
    spacing: 0;
  }
  text-align: center;

  &__id {
    width: 23%;
  }
  &__status {
    width: 5%;
  }
  &__hours-per-day {
    width: 12%;
  }
  &__start-time {
    width: 12%;
  }
  &__finish-time {
    width: 12%;
  }
  &__mentor {
    width: 15%;
  }
  &__task {
    width: 15%;
  }

  &__head-cell {
    font: {
      family: "Roboto", sans-serif;
      size: 0.85em;
      weight: normal;
    }
    padding: 5px;
    height: 40px;
    background: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-bottom: 1px solid $table-border-color;

    &_contract-id {
      text-align: left;
      padding: 5px 15px;
    }
  }

  &__contract-row {
    height: 40px;
    border-bottom: 2px solid $table-border-color;

    font: {
      family: "Roboto", sans-serif;
      size: 14px;
    }

    &:hover {
      background: $day_row-background-color;
    }

    &_active {
      background: $week_row-background-color;
    }
  }
}

.cell {
  border: {
    bottom: 1px solid $table-border-color;
  }

  &__contract-id {
    text-align: left;
    padding: 5px 15px;
    font: {
      size: 13px;
      weight: 700;
    }
  }
}