@import "../../../../constants/variables.module";

.contract-row {
  height: 40px;
  border-bottom: 2px solid $table-border-color;

  font: {
    family: "Roboto", sans-serif;
    size: 14px;
  }

  &:hover {
    background: $day_row-background-color;
  }

  &_active {
    background: $week_row-background-color;
  }
}

.cell {
  border: {
    bottom: 1px solid $table-border-color;
  }

  &__contract-id {
    text-align: left;
    padding: 5px 15px;
    font: {
      size: 13px;
      weight: 700;
    }
  }
}