.button-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 100px;
}

.button{
  height: 50px;
  cursor: pointer;
  border: 0;
  color: whitesmoke;
  background-color: transparent;
}

.button_highlighted{
  background-color: coral;
}