.button-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button{
  height: 50px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  margin: 10px;
}

.button_highlighted{
  height: 50px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  margin: 10px;
}