.button-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //margin-left: 10px;
}

.button{
  height: 50px;
  cursor: pointer;
  border: 0;
  color: whitesmoke;
  background-color: transparent;

  &--highlighted{
    background-color: coral;
  }
}