.signIn__form{
  background: white;
  border-width: 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.appbar__button {
  height: 30px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: whitesmoke;
  margin-left: auto;
}