@import "../../../../constants/variables.module";

.nav-bar {
  margin-right: auto;
  margin-top: auto;
  color: $table-border-color;
  font-size: 14px;
}

.list {
  &__list-item {
    display: inline;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
}

