@import "../../../../constants/variables.module";

.nav-bar {
  margin-right: auto;
  margin-top: auto;
  color: $table-border-color;
  font-size: 14px;
}

.list {
  &__item {
    display: inline;
  }
}

