@import "../../../../constants/variables.module";

.student-card {
  position: absolute;
  z-index: $z-index-student-card;
  background: $week_row-background-color;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  color: black;
  min-width: 300px;
  right: 5px;
  top: 100%;
  font: {
    size: 0.8em;
  }
}

.info-header {
  padding-right: 5px;
  color: $day_row-background-color;
  float: right;
  font: {
    size: 1.2em;
  }
}